@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @*@section Scripts
    {
        <script src="@Url.Content("~/Scripts/jqueryFoo.js")"></script>
    }*@
    <select id='testSelect1' multiple>
        <option value='1'>Item 1</option>
        <option value='2' selected>Item 2</option>
        <option value='3' selected>Item 3</option>
        <option value='4'>Item 4</option>
        <option value='5'>Item 5</option>
    </select>


    <script>
        document.multiselect('#testSelect1');
    </script>

</div>
